


#wrap {
    width: 100%;
    height: auto;
	background: rgba(255,255,255,0.5);
    
    text-align: center;
    min-height: 100%;
    
    color: #333;
}



#status_bar {
	background: rgba(255,255,255,0.3);
	font-weight: lighter;
	height: 65px;
	font-size: 23pt;
	color: white;
	text-shadow: 1px 1px 5px black;
	
}

p.date {
	float: left;
	padding:10px 0px 0px 22px;
	margin:0;
}

p.time {
	float: right;
	padding: 10px 22px 0px 0px;
	margin:0;
}



#layer {
    width: 100%;
    
    
    vertical-align: middle;
    
    
    

}





#img.source-image {
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

div#the_past {
	background: rgba(255,255,255,0.3);
	overflow: auto;
	border-radius:10px;	
	padding: 25px 10px 25px 10px;
	width: 200px;
	font-weight: lighter;
	font-size: 17pt;
	margin-left: auto;
	margin-right: auto;
	display:block;
	
}

div#past_entry {
	border-bottom: 1px dotted #333;
    margin-bottom: 10px;
	overflow: auto;
	display: block;
}

div.past_date {
	float: left;
	
	
}

div.past_temp {
	float: right;
}



/* Countdown Kram. Übernommen von hier: http://zombocalyp.se/ */

.hasCountdown {
    border: none;
}
.countdown_holding span {
}
.countdown_row {
    clear: both;
    width: 100%;
    padding: 0px 2px;
    text-align: center;
}
.countdown_show1 .countdown_section {
    width: 98%;
}
.countdown_show2 .countdown_section {
    width: 48%;
}
.countdown_show3 .countdown_section {
    width: 32.5%;
}
.countdown_show4 .countdown_section {
    width: 24.5%;
}
.countdown_show5 .countdown_section {
    width: 19.5%;
}
.countdown_show6 .countdown_section {
    width: 16.25%;
}
.countdown_show7 .countdown_section {
    width: 14%;
}
.countdown_section {
    display: block;
    float: left;
    font-size: 12pt;
    text-align: center;
}
.countdown_amount {
    font-size: 34pt;
}
.countdown_descr {
    display: block;
    width: 100%;
}

#defaultCountdown {
    margin-bottom: 25px;
    
}